<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet" type="text/css" />
</head>

<body style="background:#e6e7ea">
	<table cellpadding="0" cellspacing="0" width="100%" border="0" align="center" style="padding:25px 15px; font-family: 'Roboto'; font-size:14px; color:#333; line-height:20px;">
		<tbody>
			<tr>
				<td width="100%" valign="top">
					<table cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:600px; margin:0 auto; width: 100%;">
						<tbody>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%" border="0" align="center" style="box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); border-top-left-radius:8px; border-top-right-radius:8px">
						<tbody>
							<tr>
								<td valign="middle" style="background-color: #f2f2f2; color: #fff; padding: 5px 20px; border-top-left-radius: 8px; text-align: center; border-top-right-radius: 8px;">
									<a href="#"><img src="http://abserve.tech:3004/site/siteLogo.png" width="177px" height="70px"></a>
								</td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" width="100%" border="0" align="center" style="background-color:#ffffff;">
										<tbody>
											<tr>
												<td style="padding:10px 20px;">
													<p style="margin:0px 0px 10px 0px;">Dear <b>{{userName}}</b>, </p>
													<p style="margin:0px 0px 5px 0px;">{{{subject}}}</p>
												</td>
											</tr>
											<tr valign="top">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style="background-color:#f2f2f2;  border-top: 0px; border-bottom: 0px; padding:20px 20px">
													<!-- <table cellpadding="0" cellspacing="0" width="100%" border="0" style="background-color:#f2f2f2;  border-top: 0px; border-bottom: 0px; padding:20px 20px"> -->
													<tr>
														<td>
															<table cellpadding="0" cellspacing="0" width="100%" border="0" style="background-color:#fff; margin-bottom:20px; border: 1px solid #d3d4d8;">
																<tr>
																	<td style="padding:10px 20px;">
																		{{{replacementsContent}}}
																	</td>
																</tr>
															</table>
														</td>
													</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="middle" style="background-color:#3FA9F5; color:#fff; padding:15px 20px; border-bottom-left-radius:8px; border-bottom-right-radius:8px">
									<table cellpadding="0" cellspacing="0" width="100%" border="0">
								<td><span style="font-weight:300; font-size:13px">Best Regards,</span><br>{{projectName}}</td>
								<td style="text-align:right; padding-left:15px;">
									<span style="font-weight:300; font-size:13px">For more information</span><br>
									<a style="color:#fff; text-decoration:none">{{supportMail}}</a>
								</td>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>

</body>

</html>